.hero {
  position: relative;
  width: 100%;
  height: 100vh;   /* use height, não min-height */
  overflow: hidden;
  background-color: #17191A;
   padding-top: 80px; /* altura do header */
}

.bg {
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.content {
  position: absolute;
  inset: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;  /* centraliza vertical */
  align-items: flex-start;  /* alinha à esquerda */

  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

.subtitle {
  font-size: 18px;
  margin-top: 20px;
  color: #cfd3d6;
  max-width: 500px;
}

.highlight {
  color: #FACC15;
   display: inline;
}

.subtitle {
  font-size: 18px;
  margin-top: 16px;
  color: #cfd3d6;
}

.btn {
  margin-top: 32px;
  background: #FACC15;
  color: #17191A;
  padding: 16px 32px;
  border-radius: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #EAB308;
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(250, 204, 21, 0.3);
}

.wordCycle {
  display: inline-grid;
  position: relative;
  vertical-align: baseline;
  width: 270px; /* ajuste se necessário p/ caber "TRANSFORME" */
  margin-right: 6px;
}

/* Cada palavra ocupa o mesmo lugar */
.wordCycle span {
  grid-area: 1 / 1;
  opacity: 0;
  transform: translateY(8px);
  color: #FACC15; /* amarelo */
  font-weight: 700;
  animation: wordFade 6s infinite;
  white-space: nowrap;
}

/* delays: 0s, 2s, 4s */
.wordCycle span:nth-child(1) { animation-delay: 0s; }
.wordCycle span:nth-child(2) { animation-delay: 4s; }
.wordCycle span:nth-child(3) { animation-delay: 8s; }

@keyframes wordFade {
  0%   { opacity: 0; transform: translateY(8px); }
  10%  { opacity: 1; transform: translateY(0); }
  30%  { opacity: 1; transform: translateY(0); }
  40%  { opacity: 0; transform: translateY(-8px); }
  100% { opacity: 0; }
}